Q1. Explain with an example each when to use a for loop and a while loop.

While Loop: A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while." When the number of iterations is unknown, a "while" loop is used. The statement is repeated until the boolean value is false.

For Loop: A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is “for”. When the number of iterations is already known, the for loop is used.

When we need to end the loop on condition either than the number of times then we have to use "While Loop"  while In For We already know How many times a statment will Execute

In [1]:
#For loop example:
n = [1, 2, 3]  
for i in n:  
    print(i)

1
2
3

In [2]:
#while loop Example:
i = 1  
while i < 6:  
    print(i)
    i += 1

1
2
3
4
5

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [16]:
start = int(input("Enter the starting Range: "))
end = int(input("Enter the End of a Range: "))
sum = 0
for num in range(start,end):
    sum = sum +num
    
print("The Answer is:",sum)

Enter the starting Range: 0
Enter the End of a Range: 20
The Answer is: 190

In [4]:
product = 1

for i in range(1, 11):
    sum += i
    product *= i

print("The product of the first 10 natural numbers is:", product)

The product of the first 10 natural numbers is: 3628800

In [3]:

product = 1
i = 1
while i <= 10:
    product *= i
    i += 1
print("The product of the first 10 natural numbers is:", product)

The product of the first 10 natural numbers is: 3628800

In [ ]:
num = int(input("Enter a number: ")) 
if num < 0:
   print("Please enter a positive number")
else:
   sum = 0
   

   while(num > 0):
       sum = sum + num
       num =  num-1
   print("The result is", sum)

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [15]:
Unit = int(input("Enter your Eunit Consuption this Month: "))

Enter your Eunit Consuption this Month: 310

In [1]:
unit =  int(input("Enter your electric unit : "))
if unit <=100:
    rs1=unit*4.5
    print("your bill is Rs : ", rs1)
elif unit >100 and unit<=200:
    rs2 = (100*4.5) + (unit - 100) * 6
    print("your bill is Rs : ",rs2)
elif unit > 200 and unit<=300:
    rs3 = (100*4.5)+ (200-100)*6+(unit - 200)*10
    print("your bill is Rs : ",rs3)
elif unit>300:
    rs4 = (100*4.5)+ (200-100)*6+(300 - 200)*10 + (unit - 300)*20
    print("your bill is Rs : ",rs4)
else:
    print("please enter valid number")

Enter your electric unit : 310
your bill is Rs :  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [5]:

l1 = list(range(1,101))
print(l1,end= " ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [11]:
l1 = []
Cube_l2 = []

for i in range(1, 101):
    l1.append(i)
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        Cube_l2.append(cube)
print("The Actual List is: ",l1)
print('''


The list of cubes that are divisible by 4 or 5:''', Cube_l2)

The Actual List is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]



The list of cubes that are divisible by 4 or 5: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [3]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("The number of vowels in the string is:", count)

The number of vowels in the string is: 12