# Day_5 While_loop

A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while." When the number of iterations is unknown, a "while" loop is used. The statement is repeated until the boolean value is false.

In [1]:
a = 1
while a<=10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

#sum up till Some Point

In [5]:
n = int(input("Enter your limit: "))
starting_point = 0
counter = 1
while counter<=n:
    starting_point = starting_point+counter
    counter = counter +1
starting_point

Enter your limit: 3

6

In [6]:
number = int(input("Eneter your Number: "))
factorial = 1
while number >0:
    factorial = factorial *number
    number = number -1
factorial

Eneter your Number: 5

120

In [7]:
#fibbonaci Series

In [1]:
a , b = 0,1
for i in range(10):
    print(a)
    c = a+b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

Take a Input From the User As "string" and reverse with the help of while loop

In [2]:
word = input("Enter any string: ")

Enter any string: Pratyush

In [3]:
reverse = ""
length = len(word)
while length >0:
    reverse = reverse+word[length-1]
    length = length-1
print(reverse)

hsuytarP

Print the Table of Input from USer

In [1]:
n = int(input("Enter any Number: "))

Enter any Number: 7

In [3]:
i = 1
while i<=10:
    res = n*i
    print(n,"X",i," =",res)
    i = i+1

7 X 1  = 7
7 X 2  = 14
7 X 3  = 21
7 X 4  = 28
7 X 5  = 35
7 X 6  = 42
7 X 7  = 49
7 X 8  = 56
7 X 9  = 63
7 X 10  = 70

In [8]:
for i in range(1,11):
    result = i*n
    print(n,"X",i," =",res)

7 X 1  = 70
7 X 2  = 70
7 X 3  = 70
7 X 4  = 70
7 X 5  = 70
7 X 6  = 70
7 X 7  = 70
7 X 8  = 70
7 X 9  = 70
7 X 10  = 70

In [9]:
n = 5
i = 0
while i<n:
    print(i)
    i+=1

0
1
2
3
4

In [12]:
n = 6
i = 0
while i<n:
    print(i)
    i = i+1
else:
    print("Whole statment is Printed")

0
1
2
3
4
5
Whole statment is Printed

In [13]:
n = 6
i = 0
while i<n:
    if i==3:
        break
    print(i)
    i = i+1
else:
    print("Whole statment is Printed")

0
1
2

# Comprehension

List Comprehnsion

In [1]:
l1 = [2,3,5,5,6,7,8,9,9]

In [2]:
[i**2 for i in l1]

[4, 9, 25, 25, 36, 49, 64, 81, 81]

In [3]:
l2 = ["pratyush","kumar","Choudhaary"]

In [6]:
[i.upper() for i in l2]

['PRATYUSH', 'KUMAR', 'CHOUDHAARY']

In [43]:

# Using List comprehensions
# for constructing output list
  
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
  
  
list_using_comp = [var for var in input_list if var % 2 == 0]
  
print("Output List using list comprehensions:",
                               list_using_comp)

Output List using list comprehensions: [2, 4, 4, 6]

Tuple Comprehension

In [7]:
t = (1,2,3,4,52,3,4,3)

In [8]:
[i**2 for i in t]

[1, 4, 9, 16, 2704, 9, 16, 9]

Dictinary Comprehension

In [44]:
input_list = [1,2,3,4,5,6,7]
  
dict_using_comp = {var:var ** 3 for var in input_list if var % 2 != 0}
  
print("Output Dictionary using dictionary comprehensions:",
                                           dict_using_comp)

Output Dictionary using dictionary comprehensions: {1: 1, 3: 27, 5: 125, 7: 343}


# Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [2]:
def Test():
    pass

In [4]:
def Test1():
    print("Hello World")

In [5]:
#if I want to Show my data in Console then I have to call my function
Test1()

Hello World

In [6]:
# if i want to concatinate the data in function
Test1() + "Pratyush"

Hello World

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
#but 
def Test2():
    return "Pratyush"

In [8]:
Test2()

'Pratyush'

In [9]:
#Then if i want to concatinate the data in the function which will have a return function to print data
Test2()+"Kumar"

'PratyushKumar'

In [10]:
def Test4():
    return "Pratyush","pk",1.4,1,8+5j

In [12]:
Test4()

('Pratyush', 'pk', 1.4, 1, (8+5j))

In [16]:
a,b,c= Test4()

ValueError: too many values to unpack (expected 3)

In [17]:
a , b = 1,2

In [18]:
a

1

In [19]:
b

2

In [20]:
def Test5():
    a = 9+8
    return a

In [22]:
Test5()

17

In [23]:
def add(a,b,c):
    d=a+b+c
    return d

In [24]:
add(5,2,3)

10

In [25]:
def sub(a,b):
    return a-b

In [26]:
sub(2,9)

-7

In [2]:
l1 = [1,2,3,4,5,6,7,8,"Pratyush","Kumar",7.14]

In [8]:
l2 = []
for i in l1:
    if type(i)==int or type(i)==float:
        l2.append(i)

In [9]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 7.14]

In [13]:
def extr(l1):
    l2 = []
    for i in l1:
        if type(i)==int or type(i)==float:
            l2.append(i)
    return l2
# woek same as loop it just wrap all feautres into a funtion

In [14]:
extr(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 7.14]

In [15]:

l = [1,2,3,4,5,6,7,8,"Pratyush","Kumar",7.14,[1,2,3,4,5,6,7,8]]

In [25]:
def ext1(l):
    l4 = []
    for i in l:
        if type (i)== list:
            for j in i:
                l4.append(j)
        else:
            if type(i)==int or type(i)==float:
                l4.append(i)
    return l4

In [26]:
ext1(l)

[1, 2, 3, 4, 5, 6, 7, 8, 7.14, 1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
def ext2(l):
    '''This is my function used to Extract the All int and float value in a list'''
    l4 = []
    for i in l:
        if type (i)== list:
            for j in i:
                l4.append(j)
        else:
            if type(i)==int or type(i)==float:
                l4.append(i)
    return l4

In [29]:
ext2(l)

[1, 2, 3, 4, 5, 6, 7, 8, 7.14, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
def test8(*args):
    return args #It can Dinamically Takes input as Data

In [31]:
test8(1,2,3,4,"Pratyush")

(1, 2, 3, 4, 'Pratyush')

In [33]:
def test9(*pratyush):
    return pratyush

In [34]:
test9("kumar",[1,2,3,4,4,5],1,2,3,4,5,6)

('kumar', [1, 2, 3, 4, 4, 5], 1, 2, 3, 4, 5, 6)

In [39]:
def test10(c,d,a=10,b=11):
    return a,b,c,d

In [40]:
test10(4,6)

(10, 11, 4, 6)

In [41]:
#if some wants to store data in key value pair "dict" then the function will go like
def test11(**kwargs):
    return kwargs

In [42]:
test11(a = [1,2,3],b = "Pratyush",c= "Kumar")

{'a': [1, 2, 3], 'b': 'Pratyush', 'c': 'Kumar'}