Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [14]:
names = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [15]:
newList = sorted(names, key = lambda x : x[1],reverse=True)
print("Reverse sorted list: ",newList)
print("original list: ", names)

Reverse sorted list:  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
original list:  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
def sqr(x):
    return x**2

In [19]:
list(map(sqr,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
sre  =map(lambda l:sqr,l)

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
l1 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sample = list(map(str,l1))

In [47]:
sample

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [48]:
from functools import reduce

In [50]:
l3 = [1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [51]:
reduce(lambda x,y:x*y,l3)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [52]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [58]:
list(filter(lambda x:x%2==0,l)) #divisble y 2

[2, 4, 6, 8, 10]

In [59]:
list(filter(lambda x:x%3==0,l)) #divisble by 3

[3, 6, 9]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [70]:
s = ['python', 'php', 'aba', 'radar', 'level',"pratyush"]

In [71]:
list(filter(lambda s: (s == s[::-1]), s))

['php', 'aba', 'radar', 'level']