# Ds_4 ForLoop

A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is “for”. When the number of iterations is already known, the for loop is used.

In [64]:
l1 = ["Pratyush","kumar","Choudhary","Chirag"]

In [2]:
for i in l1:
    print(i)

Pratyush
kumar
Choudhary
Chirag

In [4]:
for i in l1:
    print(i)
else:
    print("If for loop is able to complete itself then only else will excute")

Pratyush
kumar
Choudhary
Chirag
If for loop is able to complete itself then only else will excute

In [11]:
for i in l1:
    if i =="Choudhary":
        break   #it will break the statment if the condition occured
    print(i,end = " ")
else:
    print("If for loop is able to complete itself then only else will excute") #if for loop is able to complete itself then only else will excute

Pratyush kumar

In [12]:
l1

['Pratyush', 'kumar', 'Choudhary', 'Chirag']

In [14]:
for i in l1:
    if i =="Choudhary":
        continue  #it will escape the particular data and doesnt print it and print the next data from the list
    print(i)

Pratyush
kumar
Chirag

In [15]:
range(5)

range(0, 5)

In [16]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,10,2)) #it will jump two numbers "THIRD DIGIT IN RANGE WILL TAKE INPUT AS TO PRINT THAT JUMP NUMBERS"

[0, 2, 4, 6, 8]

In [18]:
l1

['Pratyush', 'kumar', 'Choudhary', 'Chirag']

In [26]:
for i in range(len(l1)):
    print(l1[i])

Pratyush
kumar
Choudhary
Chirag

In [27]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

Chirag
Choudhary
kumar
Pratyush

In [28]:
l2 = [1,2,3,4,5,6,7,8,9,10,11,12,]

In [29]:
range(0,len(l2),2)

range(0, 12, 2)

In [30]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [39]:
for i in range(0,len(l2),2):
    print(l2[i],end = " ")

1 3 5 7 9 11

In [41]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [49]:
result = 0
for i in l2:
    result = result+i
print(result)

78

In [50]:
sum(l2)

78

In [52]:
s = {1,2,3,4,"pratyush"}
for i in s:
    print(i)

pratyush
1
2
3
4

In [55]:
st = "Pratyush"
for i in st:
    print(i,end = " ")

P r a t y u s h

In [56]:
d = {"name": "Pratyush","City":"Noida","Pincode":878787,"EMail":"@gmail.com","Skills":["Datascience","ML","Webd","OS","Datastructures","ComputerNetwork"]}

In [57]:
d

{'name': 'Pratyush',
 'City': 'Noida',
 'Pincode': 878787,
 'EMail': '@gmail.com',
 'Skills': ['Datascience',
  'ML',
  'Webd',
  'OS',
  'Datastructures',
  'ComputerNetwork']}

In [58]:
d.keys()

dict_keys(['name', 'City', 'Pincode', 'EMail', 'Skills'])

In [59]:
for i in d.keys():
    print(d[i])

Pratyush
Noida
878787
@gmail.com
['Datascience', 'ML', 'Webd', 'OS', 'Datastructures', 'ComputerNetwork']

In [60]:
d.values()

dict_values(['Pratyush', 'Noida', 878787, '@gmail.com', ['Datascience', 'ML', 'Webd', 'OS', 'Datastructures', 'ComputerNetwork']])

In [62]:
for i in d.values():
    print(i)

Pratyush
Noida
878787
@gmail.com
['Datascience', 'ML', 'Webd', 'OS', 'Datastructures', 'ComputerNetwork']