# Mesure of Central Tendancy

In [1]:
#mean Avg
age = [12,21,32,45,22,26,34,55,65,76]

In [3]:
import numpy as np
np.mean(age)

38.8

In [5]:
weight = [54,65,88,89,90,91,89,67,50]
np.mean(weight)

75.88888888888889

In [6]:
import seaborn as sns
df = sns.load_dataset('tips')

In [7]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [8]:
np.mean(df["total_bill"])

19.78594262295082

# median

In [9]:
np.median(age)

33.0

In [10]:
age = [12,21,32,45,22,26,34,55,65,76,200]

In [11]:
np.mean(age)

53.45454545454545

In [12]:
np.median(age)

34.0

# Mode

In [13]:
from scipy import stats

In [14]:
stats.mode(age)

C:\Users\admin\AppData\Local\Temp\ipykernel_7544\2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([1]))